/*
** MediaWiki 'monobook' style sheet for CSS2-capable browsers.
** Copyright Gabriel Wicke - http://wikidev.net/
** License: GPL (http://www.gnu.org/copyleft/gpl.html)
**
** Loosely based on http://www.positioniseverything.net/ordered-floats.html by Big John
** and the Plone 2.0 styles, see http://plone.org/ (Alexander Limi,Joe Geldart & Tom Croucher,
** Michael Zeltner and Geir Baekholt)
** All you guys rock :)
** Modified by odder for the {{cytuj ksiazke}} PHP script by Holek.
*/

/*  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
      main settings: html, body, p, ul, fieldset, li, legend, form, textarea, h2, h5, a, hr, img
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

ul {
	margin: .3em 0 0 1.5em;
}
fieldset {
	padding: 0 1em 1em;
}

label {
  float: left;
  text-align: right;
  padding-right: 7px;
}

/*  >>>>>>>
      ids
    >>>>>>> */

#column-content { width: 100%; float: right; margin: 0 0 .6em -12.2em; }
#content {
	margin-left: 163px;
	border-right: none;
}
#globalWrapper { font-size: 127%; width: 100%; }
#logo {
	left: 4px;
}
#parsersContent {
	float:right;
}
/*  >>>>>>>>>>>
      classes
    >>>>>>>>>>> */ 
.portlet h5 {
	padding: 0 1em 0 .5em;
}
.pBody { font-size: 95%; background-color: #fff; border: 1px solid #aaa; padding: 0 .8em .3em .5em; }

/* >>>>>>>>>>>>>>>
     options box
   >>>>>>>>>>>>>>> */

#options { float:right;}
#options-title {padding-right: 0.5em; float:left;}
#shl {float:right;}
